---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">個人經歷</div>
  </div>

  <div class="mb-10 text-justify">
    自我介紹。
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">教育</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="小學"
      subtitle="Taipei"
    />
    <TimeLineElement
      title="國中"
      subtitle="Taipei"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">經歷</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="PHP"
      subtitle="Taipei"
      desc="略"
    />
    <TimeLineElement
      title="JAVA"
      subtitle="Taipei"
      desc="略"
    />

    <TimeLineElement
      title="Full Stack Dev, Software Architect and Project Leader at Integral Oil Drilling System 3.0"
      subtitle="From 2016 to 2017 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervención of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.8 , Gitlab, PostgreSQL, HigthChart, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
    <TimeLineElement
      title="Full Stack Dev, UI/UX Designer and Software Architect at Primary Information System"
      subtitle="From 2017 to 2018 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of primary information at a company. personnel's steps, control of access, impression of credentials, steps of locales, structure and composition. Technologies: Php,Symfony 3.3 , Gitlab, PostgreSQL, , Boostrap 3, JQuery, HTML,CSS, JavaScript"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">著作</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://google.com" target="_blank">略</a>
    </li>
    <li>
      <a href="https://google.com" target="_blank">略</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">技能</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Chinese (Native)</li>
    <li>English</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Ruby(不會)</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS(弱)</li>
    <li>SASS(弱)</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Ruby on Rails(不會)</li>
    <li>AngularJS</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Symfony 3</li>
    <li>Yii2</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
  </ul>
</BaseLayout>
