---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "個人經歷">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">個人經歷</div>
  </div>

  <div class="mb-10 text-justify">
    自我介紹。
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">教育</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="小學"
      subtitle="Taipei"
    />
    <TimeLineElement
      title="國中"
      subtitle="Taipei"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">經歷</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="C"
      subtitle="Taipei"
      desc="略"
    />
    <TimeLineElement
      title="JAVA"
      subtitle="Taipei"
      desc="略"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">著作</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://google.com" target="_blank">略</a>
    </li>
    <li>
      <a href="https://google.com" target="_blank">略</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">技能</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>吃</li>
    <li>吃</li>
    <li>喝</li>
    <li>喝</li>
    <li>Chinese (Native)</li>
    <li>English</li>
  </ul>
</BaseLayout>
